<header class="header-container">
  <!-- Groupe Gauche : Aligné horizontalement -->
  <div class="left-group">
    <a routerLink="/" class="logo">Sqlabs</a>
    
    <!-- Le lien "plus beau" -->
    <a *ngIf="isOnDetail()" routerLink="/exercices" class="back-link">
       <span class="arrow">←</span> Liste des exercices
    </a>
  </div>

  <!-- Groupe Droite -->
  <div class="user-profile" (click)="onProfileClick()">
    <span class="user-name">{{ firstName }} {{ lastName }}</span>
    <span class="avatar-icon">👤</span>
  </div>
</header>