<div class="workbench-wrapper" *ngIf="exercice">
  <as-split direction="horizontal" unit="percent" gutterSize="8" style="height: 95vh;">

    <!-- COLONNE 1 : ÉNONCÉ -->
    <as-split-area [size]="25">
      <app-panel title="Énoncé">
        <h3 class="ex-title">{{ exercice.title }}</h3>
        <div class="ex-statement">{{ exercice.statement }}</div>
      </app-panel>
    </as-split-area>

    <!-- COLONNE 2 : TABLEAUX -->
    <as-split-area [size]="30" *ngIf="mcd">
      <as-split direction="vertical" gutterSize="8">
        
        <as-split-area [size]="50">
          <app-panel title="Dictionnaire des données">
            <app-dictionary-table  
              [lines]="allFields"
              (onFieldChange)="refreshAllFields()">
            </app-dictionary-table>
          </app-panel>
        </as-split-area>

        <as-split-area [size]="50">
          <app-panel title="Dépendances Fonctionnelles">
            <!-- On utilise [nomsDisponibles] pour correspondre à ton dernier TS -->
            <app-dependence-table 
             [lignes]="mcd.dependence.lines"
             [nomsDisponibles]="nomsPourDependances"
             (onDependenceChange)="refreshDependences()">
            </app-dependence-table>
          </app-panel>
        </as-split-area>

      </as-split>
    </as-split-area>

    <!-- COLONNE 3 : MODÉLISATION -->
    <as-split-area [size]="45">
      <app-panel title="Zone de modélisation" [scrollable]="false">
        <!-- L'éditeur MCD doit être placé ICI, dans le parent -->
        <app-mcd-editor  
          *ngIf="mcd"
          [mcd]="mcd" 
          [slug]="exercice.slug">
        </app-mcd-editor>
      </app-panel>
    </as-split-area>

  </as-split>
</div>