:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.x6-graph-container {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* Cache le cadre de sélection pendant le drag */
.x6-widget-dnd .x6-node {
  opacity: 0.7;
}

.x6-widget-selection-box {
  display: none !important;
}

.x6-node-selected .x6-graph-svg {
  outline: none !important;
}
