<div class="canvas-wrapper">

  <app-mcd-toolbar
    [canUndo]="caretaker.canUndo()"
    [canRedo]="caretaker.canRedo()"
    (dragStart)="onToolbarDragStart($event)"
    (undo)="onUndo()"
    (redo)="onRedo()">
  </app-mcd-toolbar>

  <div #container class="x6-graph-container"></div>

  <app-mcd-picker-modal
    [isVisible]="showPicker"
    [availableNames]="pickerAvailableNames"
    [currentNames]="pickerCurrentNames"
    [nodeName]="pickerNodeName"
    (selectionChanged)="onPickerSelectionChanged($event)"
    (closed)="closePicker()">
  </app-mcd-picker-modal>

</div>
