:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #e2e8f0;
  background: white;
  border-radius: 4px;
}

.panel-body {
  flex: 1; /* C'est ça qui force le contenu à descendre jusqu'en bas */
  overflow-y: auto;
  padding: 15px;
}