/* 1. L'aspect de l'étiquette dans le tableau */
.tag-source {
  display: inline-block;
  padding: 4px 10px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: grab;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

/* 2. L'étiquette PENDANT qu'on la déplace (Le Fantôme) */
/* C'est ce style qui permet de passer la barrière ! */
.etiquette-volante, .cdk-drag-preview {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 6px 15px !important;
  background: white !important;
  border: 2px solid #000 !important;
  border-radius: 2px !important;
  font-weight: bold !important;
  color: black !important;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3) !important;
  z-index: 99999 !important; /* Priorité maximale */
  pointer-events: none;
}

/* 3. Forcer les volets à laisser passer l'objet (Sécurité) */
as-split-area {
  overflow: visible !important;
}