<div class="dict-container">
  <div cdkDropList 
       id="dictList" 
       [cdkDropListConnectedTo]="['depList']"
       [cdkDropListSortingDisabled]="true">
       
    <table class="dict-table">
      <thead>
        <tr>
          <th>Nom Métier</th>
          <th>Nom technique & Drag</th>
          <th>Type</th>
          <th style="width: 40px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ligne of lignes; let i = index">
          <td>
            <input type="text" [(ngModel)]="ligne.NomMetier" placeholder="ex: Nom Client">
          </td>
          <td>
            <div class="drag-zone">
              <input type="text" [(ngModel)]="ligne.NomTechnique" placeholder="ex: nom_cli">
              <!-- L'étiquette stylée -->
              <div *ngIf="ligne.NomTechnique" 
                   class="tag-pill"
                   cdkDrag 
                   [cdkDragData]="ligne.NomTechnique">
                {{ ligne.NomTechnique }}
                <div *cdkDragPlaceholder></div>
              </div>
            </div>
          </td>
          <td>
            <select [(ngModel)]="ligne.Type">
              <option value="VARCHAR2">VARCHAR2</option>
              <option value="NUMBER">NUMBER</option>
              <option value="INT">INT</option>
              <option value="DATE">DATE</option>
            </select>
          </td>
          <td><span class="action-dots">⋮</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="add-row-btn" (click)="ajouterLigne()">
    <span>+</span> Ajouter une nouvelle donnée
  </button>
</div>