<div class="exercise-row">
  <a [routerLink]="['/exercice', exo.slug]" class="exercise-info">
    <span class="exo-number">Exercice {{ index + 1 }} :</span>
    <span class="exo-title">{{ exo.titre }}</span>
  </a>
  
  <div class="status-zone">
    <!-- On se base sur 'etat' (le nom en BD) et les valeurs 'fini', 'en cours', etc. -->
    <span [ngClass]="{
      'status-done': exo.etat === 'fini',
      'status-progress': exo.etat === 'en cours',
      'status-todo': exo.etat === 'non fini'
    }">
      <ng-container [ngSwitch]="exo.etat">
        <!-- ICI : On fait le lien entre valeur BD et texte d'affichage -->
        <span *ngSwitchCase="'fini'">✅ Terminé</span>
        <span *ngSwitchCase="'en cours'">🟠 En cours</span>
        <span *ngSwitchCase="'non fini'">□ À faire</span>
      </ng-container>
    </span>
  </div>
</div>