<div class="exercise-row">
  <a [routerLink]="['/exercice', exo.slug]" class="exercise-info">
    <span class="exo-number">Exercice {{ index + 1 }} :</span>
    <span class="exo-title">{{ exo.title }}</span>
  </a>
  
  <div class="status-zone">
    <!-- ON UTILISE LES VALEURS ANGLAISES DU MODÈLE ICI -->
    <span [ngClass]="{
      'status-done': exo.status === 'Completed',
      'status-progress': exo.status === 'In Progress',
      'status-todo': exo.status === 'To Do'
    }">
      <ng-container [ngSwitch]="exo.status">
        <span *ngSwitchCase="'Completed'">✅ Completed</span>
        <span *ngSwitchCase="'In Progress'">🟠 In Progress</span>
        <span *ngSwitchCase="'To Do'">□ To Do</span>
        <span *ngSwitchDefault>□ To Do</span>
      </ng-container>
    </span>
  </div>
</div>