<div class="dep-container">
  <!-- En-tête bleu -->
  <div class="header-blue">
    <div class="col">Sources<app-info-tooltip text="Attribut(s) dont dépendend(ent) la/les valeur(s) d'autre(s) attribut(s) pour être calculée(s) ou déterminée(s)"></app-info-tooltip></div>
    <div class="col-arrow"></div>
    <div class="col">Cibles<app-info-tooltip text="Attribut(s) dont les valeurs sont calculées ou déterminées à paritr des sources"></app-info-tooltip></div>
    <div class="col-actions"></div>
  </div>

  <!-- Zone de scroll -->
  <div class="rows-scroll-area">
    <div class="dep-row" #depRow *ngFor="let ligne of lines; let i = index">

      <!-- ZONE SOURCES -->
      <app-choix-champ [champsSelectionnes]="ligne.source" [champsDisponibles]="technicalNames"
        placeholder="Ajouter source..." (selectionChanged)="majDep(i, 'source', $event)">
      </app-choix-champ>

      <!-- FLÈCHE + badge IA -->
      <div class="arrow-col">
        <div class="arrow-icon">➔</div>
        <span *ngIf="getIaRemark(ligne)"
              class="ia-tooltip-trigger"
              [attr.data-tooltip]="getIaRemark(ligne)">?</span>
      </div>

      <!-- ZONE CIBLES -->
      <app-choix-champ [champsSelectionnes]="ligne.cible" [champsDisponibles]="technicalNames"
        placeholder="Ajouter cible..." (selectionChanged)="majDep(i, 'cible', $event)">
      </app-choix-champ>

      <!-- ACTIONS ⋮ -->
      <div class="actions-column">
        <div class="dropdown">
          <button class="dots-btn" (mousedown)="$event.stopPropagation()">⋮</button>
          <div class="dropdown-content">
            <button type="button" (mousedown)="dupliquerLigne(i)">Dupliquer</button>
            <button type="button" (mousedown)="supprimerLigne(i)" class="delete-text">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btn">
    <app-add-button (click)="ajouterDependance()" label="Ajouter une dépendance"></app-add-button>
  </div>
</div>